<th:block th:fragment="toast-ui">
    <style>
        #defaultToast {
            max-width: none !important;
            word-break: break-word;
            white-space: pre-wrap;
        }
    </style>
    <!-- Toast 메시지 -->
    <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 1080">
        <div id="defaultToast" class="toast align-items-center text-white bg-dark border-0 shadow"
             role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="defaultToastBody"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        const showToast = (message) => {
            const toastBody = document.getElementById('defaultToastBody');
            toastBody.textContent = message;

            const toastEl = document.getElementById('defaultToast');
            const toast = new bootstrap.Toast(toastEl, {delay: 2000});
            toast.show();
        };
    </script>
</th:block>